<ion-header>
  <ion-toolbar>
    <ion-title>Puro Malte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-img src="assets/eisenbahn-card-header.jpg"></ion-img>
    </ion-card-header>
    <ion-card-content>
      <ion-card-subtitle>Puro Malte</ion-card-subtitle>
      <ion-card-title>Pilse</ion-card-title>
      <p>Cerveja Leve e Refrescante, Como o Verdadeiro Chopp. Feita Para Você</p>
    </ion-card-content>
  </ion-card>
  <ion-button [routerLink]="['/home']" color="dark">Voltar</ion-button>
</ion-content>