<ion-header>
  <ion-toolbar>
    <ion-title>
      App loja de cerveja
    </ion-title>
    <ion-buttons slot='primary'>
      <ion-button [routerLink]='["/add-cerveja"]' color="danger">
        <ion-icon slot='end' name='add'> </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h1>Bem vindo ao app de cerveja mais famoso do Brasil!</h1>
  <br />
  <br />
  <div *ngIf="cervejas.length > 0 ">
    <h2>Conheça nossas cervejas!</h2>
    <br />
    <div *ngFor="let cerveja of cervejas">
      <ion-card (click)="detalhes(cerveja.nome)">
        <ion-card-content>
          <h2>
            {{cerveja.nome}}
          </h2>
          <p>
            {{cerveja.descricao}}
          </p>
          <p style="text-align: right" >
            <ion-button color="danger" fill="outline" size="small" (click)="excluir(cerveja.nome)"> Excluir </ion-button>
          </p>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
  <div *ngIf="cervejas.length === 0">
    <h3> Ainda não há cerveja cadastrada.</h3>
    <ion-button color="danger" [routerLink]='["/add-cerveja"]'> Cadastrar Agora    </ion-button>    
  </div>

</ion-content>